<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" href="/Product/Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Ürünler
                </a>
                <a class="nav-link" href="/Customer/Index">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-users"></i></div>
                    Müşteriler
                </a>
                <a class="nav-link" href="tables.html">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-layer-group"></i></div>
                    Kategoriler
                </a>
                <a class="nav-link" href="/Job/Index">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-person-digging"></i></div>
                    
                    Meslekler
                </a>
                <a class="nav-link" href="/Job/AddJob">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-user-doctor"></i></div>
                    Yeni Meslek Girişi
                </a>
                <a class="nav-link" href="/Product/AddProduct">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-plus"></i></i></div>
                    Yeni Ürün Girişi
                </a>
                <a class="nav-link" href="tables.html">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-question"></i></div>
                    Yardım
                </a>
            </div>
        </div>
    </nav>
</div>